<header class="masthead mb-auto">
        <div class="inner">
          <h4 class="masthead-brand">Avitosh Totaram</h4>
          <nav class="nav nav-masthead app-nav">
            
            <%= nav_helper "nav-link", 'span' %>
            <%= login_helper "nav-link" %>
          </nav>
        </div>
      </header>