<div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>
            Problem-solver and solutions-oriented programmer, with a background in software development and mechanical engineering. 
            Interested in website development, machine learning, artificial intelligence, and developing technologies. 
            I bring strong skills in team-building and project management that leverage the strengths of each individual on the team. 
            I love coding because technology opens doors to help people on a global scale.
            </p>
          </div>
          
          <div class="sidebar-module">
            <h4>Elsewhere: </h4>
            <ol class="list-unstyled social-link">
              <li><a href="https://github.com/SimplyAvi"> <%= fa_icon "github" %> </a></li>
              <li><a href="https://www.linkedin.com/in/avitosh-totaram-4b94b2120/"> <%= fa_icon "linkedin" %> </a></li>
              <li><a href="https://medium.com/@avitoshtotaram">  <%= fa_icon "medium" %> </a></li>
              
              
             
            </ol>
          </div>
        </div>
    </div>