<div class="row">
    <div>
        <div class="col-md-4">
            <%= image_tag "profile_pics", width: 300, alt: "Profile Image"%>
        </div>
        <div class="col-md-8">
            <p>Problem-solver and solutions-oriented programmer, with a background in software development and mechanical engineering. 
                Interested in website development, machine learning, artificial intelligence, and developing technologies. 
                I bring strong skills in team-building and project management that leverage the strengths of each individual on the team. 
                I love coding because technology opens doors to help people on a global scale.
            </p>
        </div>
    </div>
</div>



