<h1>Pages#contact</h1>
<%# <p>Find me in app/views/pages/contact.html.erb</p> %>

<%# view helper methods %>
<p> <%= number_to_phone "7777777777" %> </p>
<p> <%= number_to_currency "44" %> </p>
<p> <%= number_to_percentage "44.1" %> </p>
<p> <%= number_with_delimiter "441333535253252525436356365" %> </p>
