<div class="app-card-container">
    <div class="card">
        <div class="row">
            <div class="col-md-5">
        <h1>Would you like to grab coffee?</h1>
            <h4>
            <a href = "mailto: avitosh.totaram@nyu.edu">Email me</a>
            </h4>
            <h4>
            <a href="https://github.com/SimplyAvi">Check out my Github</a>
            </h4>
            <h4>
            <a href="https://medium.com/@avitoshtotaram">Check out my Medium Articles</a>
            </h4>
            <h4>
            <a href="https://www.linkedin.com/in/avitosh-totaram-4b94b2120/">Check out my Linkedin</a>
            </h4>
            </div>
            
            <div class="col-md-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.34194131911!2d-74.03927068943914!3d40.75904032957147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588f046ee661%3A0xa0b3281fcecc08c!2sManhattan%2C%20New%20York%2C%20NY!5e0!3m2!1sen!2sus!4v1580662234623!5m2!1sen!2sus" 
                width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

        </div>
    </div>
</div>